@tailwind base;
@tailwind components;
@tailwind utilities;

html {  
  scroll-behavior: smooth;
}

.encode-sans semi condensed-thin {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.encode-sans semi condensed-extralight {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.encode-sans semi condensed-light {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.encode-sans semi condensed-regular {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.encode-sans semi condensed-medium {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.encode-sans semi condensed-semibold {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.encode-sans semi condensed-bold {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.encode-sans semi condensed-extrabold {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.encode-sans semi condensed-black {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.bounce {
  animation: bounce 1s 1;
}

